@use "sass:color";

$text-color: rgb(64, 61, 58);
$theme-blue: rgb(33, 88, 104);
$lighter-theme-blue: color.adjust($theme-blue, $lightness: 2%);
$link-blue: #3795ae;
$radius: 0.5rem;
$box-shaddow: 0 0 10px #ccc;

body {
  font-family: "Open Sans", sans-serif;
  background-color: black;
  padding: 0;
  margin: 0;
  font-weight: 300;
}

#page {
  margin: 0;
  width: 21cm;
  height: 27.9cm;
  background-color: white;
  color: $text-color;
  position: absolute;
  left: 50%;
  margin-left: -10.5cm;
  text-align: justify;
  padding: 1rem;
}

#content {
  float: left;
}

a {
  color: $link-blue;
  text-decoration: none;
}

.no-justify {
  text-align: left;
}

header {
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
  #name {
    font-size: 24pt;
    font-weight: 700;
    color: $theme-blue;
    display: flex;
    align-items: center;
    margin-left: 20px;
  }

  #details {
    display: flex;
    align-items: center;
    font-size: 10pt;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        padding: 2px;
        padding-left: 25px;
        background-repeat: no-repeat;
        background-position: 0% 50%;
        line-height: 16px;
      }
    }
  }

  #photo {
    img {
      height: 3cm;
      border-radius: $radius;
      box-shadow: $box-shaddow;
    }
  }
}

#phone,
#address,
#mail,
#info,
#website {
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

#phone {
  background-image: url(../img/phone_2.png);
}

#address {
  background-image: url(../img/home.png);
}

#mail {
  background-image: url(../img/mail.png);
}

#info {
  background-image: url(../img/user_silhouette.png);
}

#website {
  background-image: url(../img/url.png);
}

#title {
  width: 100%;
  float: left;
  span {
    font-size: 10pt;
    font-style: italic;
    margin-left: 20px;
    &:before {
      content: url(../img/quote_open.png);
    }
    &:after {
      content: url(../img/quote_close.png);
    }
  }
  h1 {
    float: right;
    color: white;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    font-size: 16pt;
    font-weight: normal;
    width: 520px;
    height: 50px;
    padding-left: 35px;
    padding-top: 18px;
    font-variant: small-caps;
    margin-bottom: 0px;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}

.left-col {
  float: left;
  width: 38%;
  clear: both;
}

.right-col {
  width: 59%;
  float: right;
}

section {
  margin-bottom: 1rem;
  position: relative;
  padding: 0.5rem;
  font-size: 0.9em;
  float: left;
  border-radius: $radius;
  box-shadow: $box-shaddow;
  h2 {
    color: white;
    margin: -0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.75rem;
    font-size: 12pt;
    font-variant: small-caps;
    font-weight: normal;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    border: none;
    background-color: $theme-blue;
    background: linear-gradient(to right, $theme-blue 0%, $theme-blue 1%, $lighter-theme-blue 25%, white 95%);
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
  h3 {
    font-size: 12pt;
    font-weight: normal;
    margin: 0;
    text-align: left;
  }
  ul {
    list-style: none;

    .date {
      position: absolute;
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      left: -4px;
      width: 32px;
      text-align: center;
      background-color: $text-color;
      color: white;
      padding: 0px 5px 1px 6px;
      print-color-adjust: exact;
      -webkit-print-color-adjust: exact;
    }
  }

  // p {
  // font-size: 8pt;
  // }

  &#working_experience {
    width: 100%;
    box-sizing: border-box;
    ul.timeline {
      margin-top: -5px;
      margin-bottom: 45px;
      padding-left: 0;
      float: left;
      margin-left: 90px;
      position: relative;
      &:after {
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: $text-color;
        content: "";
        top: 32px;
      }
      li {
        position: relative;
        &.dot {
          text-align: right;
          font-style: italic;
          transform: rotate(20deg);
          margin: 0 5px 0 0;
          width: 90px;
          position: absolute;
          right: 100%;
          margin-right: 3px;
          &:after {
            content: "";
            width: 9px;
            height: 9px;
            border-radius: 20px;
            position: absolute;
            background-color: $text-color;
            right: -12px;
            top: 8px;
          }
        }
        &:not(.dot) {
          display: flex;
          top: 30px;
          align-items: center;
        }
        .work {
          width: 180px;
          display: flex;
          align-items: center;
          justify-content: center;
          h3 {
            text-align: center;
            margin: 0 15px;
          }
          small {
            font-size: 0.65em;
          }
        }
        .description {
          flex: 1;
          margin-right: 1rem;
          border-left: 4px solid $lighter-theme-blue;
          padding-left: 0.5rem;
          p {
            font-size: 9pt;
            margin: 0;
            &:not(:last-child) {
              margin-bottom: 0.5rem;
            }
          }
        }
      }
    }
  }

  &#education {
    & > ul > li {
      margin-bottom: 1rem;
    }
    h3 {
      font-size: 10pt;
      font-weight: bold;
    }
    h4 {
      text-align: left;
      font-weight: normal;
      font-size: 10pt;
      margin: 0;
      margin-left: 20px;
      position: relative;
      &:before {
        background-image: url(../img/diploma.png);
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        display: block;
        left: -25px;
        background-size: 20px 20px;
        top: 5px;
      }
    }
    ul {
      .date:not(:first-child):after {
        content: ">";
        position: absolute;
        color: $text-color;
        top: 0px;
        right: -27px;
      }

      .date.y_2005 {
        top: 86%;
      }

      .date.y_2008 {
        top: 62%;
      }

      .date.y_2009 {
        top: 39%;
      }

      .date.y_2010 {
        top: 17%;
      }
    }

    .righter {
      float: right;
      text-align: right;
      font-size: 7pt;
      position: relative;
      max-width: 85px;
    }
  }

  &#languages_skills {
    font-size: 11pt;
    p {
      margin: 0;
      font-size: 10pt;
    }
    ul {
      display: inline-block;
      padding-left: 0;
      width: 32%;
      font-size: 10pt;
      text-align: right;
      &.languages {
        width: 26%;
      }
      &.front {
        width: 35%;
      }
      &.back {
        width: 37%;
      }
      img {
        height: 14px;
        &.hidden {
          visibility: hidden;
        }
      }
    }
  }

  &#hobbies {
    ul {
      list-style-image: url(../img/like.png);
      list-style-position: inside;
      padding: 0;
      margin: 5px;
      font-size: 9pt;
      li {
        margin-bottom: 5px;
      }
    }

    h3 {
      display: inline-block;
      padding-right: 5px;
      font-size: 11pt;
    }
  }
}

#social {
  position: absolute;
  margin: 20px 20px;
  opacity: 0.5;
  #social-content {
    text-align: center;
    padding: 5px;
    background-color: white;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: $radius;
  }
  ul {
    list-style: none;
    margin: 5px;
    padding: 0;
    li.inline {
      display: inline;
    }
  }
  img.social {
    margin: 2px;
    &:hover {
      -webkit-box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.3);
      box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.3);
    }
  }
}
